<div class='beer-card'>
  <img src='{{this.image_url}}' width='50px' alt='beer' />
  <br />
  Name:<a href='/beers/{{this.id}}'>{{this.name}}</a>
  <br />
  Description:{{this.description}}
  <br />
  Tagline:{{this.tagline}}
</div>